.description {
  list-style-type: none;
  display: inline;
}
.units {
  text-decoration: none;
  font-size: 20px;
}

.city {
  display: inline;
}

h2 {
  text-align: center;
}

img {
  margin: 5% 0;
  max-width: 250px;
  display: block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.shape {
  position: fixed;
  top: 160px;
  left: 500px;
  background-color: black;
  height: 10px;
  width: 10px;
  padding: 20px;
  margin: 20px;
  border-radius: 50%;
  float: right;
  shape-outside: border-box;
}
.card {
  margin-left: 10%;
  padding: 20px;
}
.card-body {
  border: 1px solid #dadde1;
}
